//Projets

.projects {
  background-color: $dark-green;
  padding: 50px 10px 40px;
  line-height: 1.2;

  &__title {
    font-family: $caveat;
    font-size: 39px;
    color: $antique-white;
    text-align: center;
    font-weight: 600;
  }

  &__paragraph {
    font-family: $redHat;
    text-align: center;
    font-size: 17px;
    color: $antique-white;
    font-weight: 400;
    line-height: 1.875;
  }
  &__containner {
    text-align: center;
    padding: 30px 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    &__article {
      transition: .3s;
      cursor: pointer;
      line-height: 1.9;
      border-radius: 10px;
      box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3), -10px -10px 15px rgba(0, 0, 0, 0.3);

      &:hover {
        transform: translateY(-20px);

      }
      &__img {
        margin-top: 10px;
      }
      &__link {
        display: block;
        width: 100%;
        font-family: $caveat;
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;
      }
    }

    .orange {
      background: linear-gradient(to bottom, #f0a661, #f3a25e);

    }
    .rose {
      background: linear-gradient(to bottom, #eec4ce, #e9b9c4);

    }
    .turquoise {
      background: linear-gradient(to bottom, #d9f0d4, #d3eec8);
      grid-column: span 2;
    }
    .jaune {
      background: linear-gradient(to bottom, rgb(228, 203, 146), rgb(255, 235, 180));
    }
    .rouge {
      background: linear-gradient(to bottom, rgb(225, 184, 164), rgb(245, 210, 195));

    }


  }
  &__cta {
    display: block;
    margin: auto;
    width: 57.9%;
    font-family: $caveat;
    font-size: 19px;
    font-weight: 600;
    line-height: 13px;
    background-color: $antique-white;
    color: $light-black;
    padding: 19px 23px;
    border-radius: 39px;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
    transition:.3s;
    //letter spacing

    &:hover {
      color: $antique-white;
      background-color: transparent;
      border: 2px solid $antique-white;
      transform: scale(1.1);
    }
  }
}
@media (width > $med-screen) {
    .projects {

        &__containner {
            display: flex;
            justify-content: center;
            gap: 20px;


            &__article {
                max-width: 124px;
                width: 100%;
            }
        }
        &__cta {
            font-size: 30px;
            max-width: 402px;
            width: 100%;
        }
    }
}
@media (min-width: 991px) {
    .projects {

        &__containner {

            &__article {
                max-width: 168px;
                width: 100%;
            }
        }
    }
}
@media (min-width: 1229px) {
    .projects {

        &__containner {

            &__article {
                max-width: 214px;
                width: 100%;
            }
        }
    }
}