.wayOfWorking {
    z-index: 0;
    background-color: $dark-green;
    padding-bottom: 30px;

    &__title {
        font-family: 'Caveat', 'sans-serif';
        font-size: 47px;
        color: $antique-white;
        font-weight: bold;
        line-height: 1;
        width: 83%;
        text-align: center;
        margin: auto;

    }

    &__list {
        display: grid;
        row-gap: 25px;
        margin: 20px auto 0;

        &__items {
            width: 90%;
            margin: auto;

            &__article {
                display: grid;
                background-color: $antique-white;
                border-radius: 10px;
                box-shadow: 0px 7px 17px 3px rgba(0, 0, 0, 0.5);
                padding: 10px;
                min-height: 288px;


                &__containner {


                    &__img {
                        width: 50%;
                        display: block;
                        height: auto;
                        margin: 14px auto 28px;


                    }
                }

                &__title {
                    font-family: 'Caveat', 'sans-serif';
                    font-size: 27px;
                    font-weight: 600;
                    line-height: 1.2;
                    text-align: center;
                }

                &__paragraph {
                    font-family: "Red Hat Display", sans-serif;
                    font-size: 16px;
                    line-height: 1.825;
                    text-align: center;
                }
            }


        }
    }

}



@media (width > $med-screen) {
    .wayOfWorking {
        &__list {
            grid-template-columns: repeat(3, 201px);
            column-gap: 35px;
            justify-content: center;

            &__items {
                width: 100%;
                &:nth-child(2) {
                    margin-top: 70px;
                }
                &__article {
                    grid-template-rows: 130px auto auto;

                    & *:not(p) {
                        align-self: center;
                    }
                    &__title {

                    }
                    &__containner {
                        .firstImg  {
                            width: 115px;
                            height: auto;
                        }
                        .secondImg {
                            width: 125px;
                            height: auto;
                        }
                        .thirdImg {
                            width: 115px;
                            height: auto;
                        }

                        // Clamp fonctionne pas avec height



                    }
                }
            }

        }
    }
}
@media (width > 991px) {
    .wayOfWorking {
        &__list {
            grid-template-columns: repeat(3, 221px);

            &__items {
            }
        }
    }
}