.wayOfWorking {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-green;

  &__title {
    font-family: 'Caveat', 'sans-serif';
    font-size: 47px;
    color: $antique-white;
    font-weight: bold;
    line-height: 1;
    width: 83%;
    text-align: center  ;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $antique-white;
    width: 83%;
    border-radius: 10px;
    box-shadow: 0px 7px 17px 3px rgba(0,0,0,0.5);
    margin-top: 20px;

    &__img {
      width: 60%;
      height: auto;
    }

    &__title {
      font-family: 'Caveat', 'sans-serif';
      font-size: 27px;
      font-weight: 600;
      line-height: 1.2;
    }
    &__paragraph {
      font-family: "Red Hat Display", sans-serif;
      font-size: 16px;
      line-height: 1.825;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}