@font-face {
    font-family: "Red_Hat_Display";
    src: url("../../../fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
}
@font-face {
    font-family: "Caveat";
    src: url("../../../fonts/caveat/Caveat-Regular.ttf");
}