@import "settings/reset";
@import "settings/var";
@import "settings/burger";
@import "main/home";
@import "main/projects";
@import "main/wayOfWorking";
@import "main/profil";
@import "main/skills";
@import "main/passions";
@import "main/vision";
@import "main/cta";
@import "main/footer";
@import "main/nav";

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@keyframes showUp {

    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.showUp {
    animation: showUp 1s;
    transition: .8s;
    opacity: 1;
}
@keyframes showLeft {
    0% {

        transform: translateX(-400px)  rotate(20deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0)  rotate(20deg);
        opacity: 1;
    }
}
.showLeft {
    animation: showLeft 1s;
    transition: .8s;
    opacity: 1;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.appear {
    animation: appear 1s;
    transition: .5s linear;
    opacity: 1;
}
.opacity_none {
    opacity: 0;
}











