@import "settings/reset";
@import "settings/var";
@import "settings/burger";
@import "main/home";
@import "main/projects";
@import "main/wayOfWorking";
@import "main/profil";
@import "main/skills";
@import "main/passions";
@import "main/vision";
@import "main/cta";
@import "main/footer";
@import "main/nav";

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
body {

}











